<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace: 연결할 맵퍼 인터페이스 패키지 -->
<mapper namespace="com.msa4spring.mappers.EmployeeMapper">
    <!-- resultMap : 특정 Entity객체와 연결 -->
    <resultMap id="employeeResultMap" type="com.msa4spring.entities.Employee">
        <!-- PK는 id로, 나머지는 result로 -->
        <id column="emp_id" property="empId" />
        <result column="name" property="name" />
        <result column="birth" property="birth" />
        <result column="gender" property="gender" />
        <result column="hire_at" property="hireAt" />
        <result column="fire_at" property="fireAt" />
        <result column="sup_id" property="supId" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="deleted_at" property="deletedAt" />
    </resultMap>

    <select id="getEmployees" resultMap="employeeResultMap">
        SELECT *
        FROM employees
        WHERE deleted_at IS NULL
            LIMIT 5

    </select>

    <select id="findByPk" resultMap="employeeResultMap">
        SELECT *
        FROM employees
        WHERE deleted_at IS NULL
        AND emp_id = #{empId}
    </select>


    <insert
        id="store"
        parameterType="com.msa4spring.entities.Employee"
        keyProperty="empId"
        useGeneratedKeys="true"
    >
        INSERT INTO employees (
            name
            ,birth
            ,gender
            ,hire_at
        ) VALUES (
            #{name}
            ,#{birth}
            ,#{gender}
            ,NOW()
        )
    </insert>

    <update id="modify">
        UPDATE employees
        SET
            birth       = #{birth}
            ,updated_at = NOW()
        WHERE emp_id = #{empId}
    </update>

    <!-- 물리적 삭제  -->
    <delete id="hardDelete">
        DELETE FROM employees
        WHERE emp_id = #{empId}
    </delete>

    <!-- 소프트 삭제 -->
    <update id="delete">
        UPDATE employees
        SET
            deleted_at = NOW()
        WHERE emp_id = #{empId}
    </update>
</mapper>

